composer.phar
asset/file/*
!asset/file/kertas_kerja/
asset/file/kertas_kerja/*
!asset/file/kertas_kerja/template_laporan.xls
!asset/file/kertas_kerja/template_laporan.xlsx
!asset/file/kertas_kerja/index.html
!asset/file/legalitas_tanah/
asset/file/legalitas_tanah/*
!asset/file/legalitas_tanah/index.html
!asset/file/index.html
!asset/file/default.png
!asset/file/default.jpg
/nbproject/private/